@media screen and (max-width:900px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    main .botoes-lembrete, main .botoes-informacoes{
        margin-top: 10px;
        width: 250px;
    }
}

@media screen and (max-width: 570px) {

    body{
        box-sizing: border-box;
        overflow-x: hidden;
    }

    header .container .logo {
        font-size: 30px;
}

    .nav-menu{
        font-size: 12px;
    }

    #informacoes{
        padding: 25px !important;
    }
}

@media screen and (min-width:1000px) {
    .container-descricao{
        width: 70%;
    }
}